---
import FullWidthLayout from './FullWidthLayout.astro';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogUrl?: string;
  ogType?: string;
  ogImageAlt?: string;
}

const {
  title,
  description,
  ogImage,
  ogTitle,
  ogDescription,
  ogUrl,
  ogType,
  ogImageAlt,
} = Astro.props;
---

<FullWidthLayout
  title={title}
  description={description}
  ogImage={ogImage}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogUrl={ogUrl}
  ogType={ogType}
  ogImageAlt={ogImageAlt}
>
  <div class="container">
    <slot />
  </div>
</FullWidthLayout>

<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .container > :global(section) {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  @media (max-width: 768px) {
    .container > :global(section) {
      padding: 1rem;
    }
  }

  /* for emoji lists in markdown content */
  :global(.emoji-list ul) {
    list-style-type: none;
    padding-left: 0;
  }
  :global(.emoji-list li) {
    display: flex;
    align-items: flex-start;
    line-height: 1.1;
    margin-bottom: 0.7em;
  }
  :global(.emoji-list li i) {
    flex-shrink: 0; /* Prevents the emoji from squishing */
    width: 1.5em;
    text-align: left;
    font-style: normal;
  }
</style>
